@using WebVideoPortal.Helpers
@using WebVideoPortal.Constants.Enums
@model QuestionaireModel
@{
    ViewBag.Title = "Questionaire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script src="~/Content/patterns/jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/patterns/jquery/jquery.validate.min.js"></script>
    <script src="~/Content/patterns/jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Scripts/validate.js"></script>
}
<section class="section-sm">
    <div class="container-fluid">
        <h1>@ViewBag.Title</h1>
        <p class="help-block">Before jumping on to our videos, please take a minute to complete a couple of questions.</p>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="panel-body">
                        @if (!Model.IsValid)
                        {
                            <p class="text-center space-15 r-color">@Model.ErrorMessage</p>
                        }
                        <p class="text-center space-25 green-color">@Model.InformationMessage</p>
                        @using (Html.BeginForm("Index", "Questionaire", FormMethod.Post, new { @class = "validatable-form" }))
                        {
                            <div class="form-group">
                                <label for="Email">Year Of Birth</label>
                                @Html.DropDownListFor(m => m.YearOfBirth, ViewBag.Years as List<SelectListItem>, new { @class = "form-control" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(m => m.YearOfBirth)
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="password">Sex</label>
                                @Html.DropDownListFor(model => model.Sex, new SelectList(Enum.GetValues(typeof(Sex))),"Select Gender", new { @class = "form-control" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(m => m.Sex)
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="password">Occupation</label>
                                @Html.TextBoxFor(m => m.Occupation, new { @class = "form-control" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(m => m.Occupation)
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="password">Height (cm's)</label>
                                @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(m => m.Height)
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="password">Weight (Kg's)</label>
                                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(m => m.Weight)
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="password">Activity Level</label>
                                @Html.CustomEnumDropDownListFor(model => model.ActivityLevel, new { @class = "form-control" })
                                <span class="help-block">
                                    @Html.ValidationMessageFor(m => m.ActivityLevel)
                                </span>
                            </div>
                            <button type="submit" class="btn btn-primary">Save & Go To Videos</button>
                        }
                    </div>
                </div><!-- /.panel-body -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

